a.social{
    --bg-image: "";
    background-image: var(--bg-image);
    width: 1.5rem;
    height: 1.5rem;
    display: block;

    -webkit-background-clip: initial;
        background-clip: initial;
    
    
    &[aria-label="tiktok"]{
        background-repeat: no-repeat;
        
        --bg-image: url(../Assets/icons/tiktok.svg);
    
        &:hover{
            --bg-image: url(../Assets/icons/tiktok-hover.svg);
        }

    }

    &[aria-label="instagram"]{
        --bg-image: url(../Assets/icons/instagram.svg);
    
        &:hover{
            --bg-image: url(../Assets/icons/instagram-hover.svg);
        }
    }&[aria-label="twitter"]{
        --bg-image: url(../Assets/icons/twitter.svg);
    
        &:hover{
            --bg-image: url(../Assets/icons/twitter-hover.svg);
        }
    }&[aria-label="discord"]{
        --bg-image: url(../Assets/icons/discord.svg);
    
        &:hover{
            --bg-image: url(../Assets/icons/discord-hover.svg);
        }
    }
}

